.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.toptitle{
  font-size: 20px;
}


h1 {
  font-size: 20px;
  padding-right: 20px;
  display: inline-block;
  border: #008CBA;
}

p:after {
  content: '';
  width: 2px;
  height: 30px;
  background: black;
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.calculator-body {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.button {
  display: block;
  background-color: #bbb;
  position: relative;
}

button {
  width: 33%;
  height: 60px;
  font-size: 30px;
  
}

input[type=submit] {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 14px 40px;
  border-radius: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
} 

input[type=text] {
  width: 50%;
  border: 2px solid #008CBA;
  height: 30px;
  font-size: 14pt;
  border-radius: 4px;
}