table{
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: solid;
}

th {
  height: 1vr;
}

th, td{
  padding: 2vr;
  text-align: center;
}

tr:hover {background-color: #f5f5f5;}

#wrong{
  background-color: #e79d9d;
}

h1 {
  font-size: 3vw;
  max-width: 100%;
  padding-right: 1em;
  display: inline-block;
  border: #008CBA;
  margin-bottom: 0em;
  margin-bottom: 0em;
}
h2 {
  font-size: 2.3vw;
  padding-right: 1em;
  display: inline-block;
  border: #008CBA;
  margin-bottom: 0em;
}
h3 {
  font-size: 1.8vw;
  padding-right: 1em;
  display: inline-block;
  border: #008CBA;
  margin-bottom: 0em;
}

.calculator-body {
  width: 85%;
  max-width: 900px;
  margin: auto;
  text-align: center;
  font-family: "Computer Modern", sans-serif;
}
#title{
  margin-bottom: 20;
}

.button {
  display: block;
  background-color: #bbb;
  position: relative;
}

button {
  width: 33%;
  height: 5vw;
  font-size: 1em;
  
}

input[type=submit] {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 14px 40px;
  border-radius: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
} 

input[type=text] {
  width: 50%;
  border: 2px solid #008CBA;
  height: 2em;
  font-size: 2vw;
  border-radius: 6px;
  margin: 1em;
}

#showexam, #reset {
  background-color: #008CBA;
  width:40%;
  font-size: 2vw;
  border: none;
  color: white;
  padding: 0.8vw 1em;
  border-radius: 8px;
  text-decoration: none;
  margin: 1vm 2vm;
  cursor: pointer;
}

#submit {
  background-color: #008CBA;
  width:30%;
  font-size: 3vw;
  border: none;
  color: white;
  padding: 14px 1em;
  border-radius: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#resethome{
  background-color: rgb(218, 50, 50);
  width:30%;
  font-size: 3vw;
  border: none;
  color: white;
  padding: 0.8vw 1em;
  border-radius: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#timechoice1, #timechoice{
  font-size: 2vw;
}
#start{
  background-color: #008CBA;
  width:30%;
  font-size:3vw;
  border: none;
  color: white;
  padding: 0.8vw 2vw;
  border-radius: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

li {
  text-align:left;
  margin: 10px;
  font-size: 1.5vw;
}
p{
  font-size: 1.3vw;
}